.env
.env.*
!.env.example

.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/

*.json
*.config.json

.idea/
.vscode/
*.iml
*.ipr
*.iws

.DS_Store
Thumbs.db

android/.gradle/
android/local.properties
android/app/Flutter/
android/captures/
*.apk
*.apks
*.aab

ios/Pods/
ios/.symlinks/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
